.academic__img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.academic__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  padding: 8px; /* Puedes ajustar el valor según el espacio que desees */
  box-sizing: border-box; /* Asegura que el padding no sume al tamaño total */
}

.academic__courses__item__img {
    width: 296px;              /* O usa 296px si quieres tamaño fijo */
    height: 120px;            /* O el valor que desees */
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.academic__courses__item__img img {
    width: 100px;
    /* height: 58px; */
    
}



@media screen and (min-width:768px) {
    .academic__courses__item__img {
        width: 224px;
        height: 118px;
    }
    .academic__courses__item__img img {
        width: 100px;
        /* height: 58px; */
        
    }
    
}

@media screen and (min-width:1024px) {
    .academic__courses__item__img {
        width: 368px;
        height: 286px;
    }
    .academic__courses__item__img img {
        width: 200px;
        /* height: 58px; */
        
    }
    
}

@media screen and (min-width:1440px) {
    .academic__courses__item__img {
        width: 368px;
        height: 286px;
    }

    .academic__courses__item__img img {
        width: 250px;
        
        
    }   
    
}



